<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>sort out AviUtl2.ini</title>

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,100..700,1,0&icon_names=arrow_left_alt,arrow_right_alt,create_new_folder,drag_indicator,sort" />
  <link rel="stylesheet" href="../__utility/style.css" />
  <link rel="stylesheet" href="./style.css" />
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
  <div id="root">


    <div class="main-content">
      <div class="tab-ribbon">
        <label>
          <input type="radio" value="home" v-model="setting.process" />
          Home
        </label>
        <label>
          <input type="radio" value="labeling" v-model="setting.process" />
          ラベル分け
        </label>
        <label>
          <input type="radio" value="del-dup" v-model="setting.process" />
          設定を削除
        </label>
      </div>

      <div :data-process="setting.process">
        <div v-if="setting.process==='home'">
          <div style="margin-block-end:1.5rem;">
            <div style="display:flex;flex-wrap:wrap;gap:0.5rem;margin-block-end:0.5rem;align-items:center;">
              <button class="round blue" @click="clickNextInput">aviutl2.iniを読み込む</button>
              <input type="file" id="iniInput" accept=".ini" style="display: none;" @change="readIniFile">
              <button class="round blue" @click="saveIniFile">iniファイルを保存</button>
            </div>
            <div style="display:flex;flex-wrap:wrap;gap:0.5rem;margin-block-end:0.5rem;align-items:center;">
              <button class=" round blue" @click="clickNextInput">aul2ファイルを読み込む</button>
              <input type="file" id="aul2Input" accept=".aul2" style="display: none;" @change="readAul2File">
              <button class="round blue" @click="saveAul2File">aul2ファイルを保存</button>
            </div>
            <div style="display:flex;flex-wrap:wrap;gap:0.5rem;margin-block-end:0.5rem;align-items:center;">
              <button class="round" @click="resetPackageData">読み込み時の設定に戻す</button>
              <button class="round" @click="clear">クリア</button>
            </div>
          </div>
          以下の3つのことが手軽にできるサイトです。
          <ul>
            <li>スクリプト・フォント・色のラベル分け</li>
            <li>アクセスキーの割り当て</li>
            <li>アンインストール済みスクリプトの設定の一括削除</li>
          </ul>

          <h3>使い方</h3>
          <ol>
            <li>
              「アプリケーションデータ」フォルダ内の<code>aviutl2.ini</code>を読み込む<br>
              <span class="annotation">
                ※「アプリケーションデータ」フォルダはAviUtl2の<code>「その他」メニュー > 「アプリケーションデータ」 > 「アプリケーションデータフォルダ」</code>から開くことができます
              </span>
            </li>
            <li>
              「アプリケーション データ」フォルダ内の「Language」にある<code>日本語(アクセスキー付き).aul2</code>を読み込む<br>
              <span class="annotation">
                ※日本語(アクセスキー付き).aul2をまだ導入していない場合は<a
                  href="https://github.com/Garech-mas/jp_akey.aul2">こちらからダウンロード</a>して配置してください
              </span>
            </li>
            <li>各種変更する</li>
            <li>「iniファイルを保存」ボタンから、1.と同じ<code>aviutl2.ini</code>を上書き保存する</li>
            <li>「aul2ファイルを保存」ボタンから、2.と同じ<code>日本語(アクセスキー付き).aul2</code>を上書き保存する</li>
          </ol>
          <p>
            予期せぬ不具合により、今までカスタマイズしたAviUtl2の設定が壊れる可能性があります。<br>
            <span class="annotation">※「4. aviutl2.iniを上書き保存」、「5. aul2ファイルを上書き保存」をしない限りは大丈夫です。</span><br>

            必ず<mark>aviutl2.ini 及び 日本語(アクセスキー付き).aul2 のバックアップを取ってから</mark>当サイトを使用することを推奨します。
          </p>
          <h4>ラベル分けタブの使い方</h4>
          <div class="setting-div">
            <span>並び替え</span>
            <div>
              <p>
                パッケージ/グループを、挿入したい箇所か
                <span class="drop-area" style="padding: 2px 12px;margin-inline: 4px;display: inline;">全体の先頭</span>にD&D
              </p>
              <p class="annotation"><code>ctrl+クリック/ドラッグ</code> … 複数選択</p>
            </div>

            <span>アクセスキーの割り当て</span>
            <div>
              <p>パッケージ/グループ名の右側にある入力ボックスにアクセスキーを入力</p>
              <p class="annotation">(rootも含む)同じグループ内で重複するアクセスキーがある場合は入力ボックスが<span
                  style="padding: 0 2px;border-radius: 4px;background-color: lightpink;">赤い色</span>になります</p>
            </div>
            <span>グループ追加</span>
            <div style="display: flex;align-items: center;gap: 0.5rem;">
              <span class="mark">
                <span class="material-symbols-outlined">create_new_folder</span>
                New Group
              </span>
              <p>
                を挿入したい箇所にD&D
              </p>
            </div>

            <span>グループ名の変更</span>
            <p>グループのタイトル部分にテキスト入力</p>

            <span>ソート</span>
            <div>
              <P style="display: flex;line-height: 2;align-items: center;">
                グループ右上の
                <span class="material-symbols-outlined"
                  style="color: darkgoldenrod;font-variation-settings: &quot;wght&quot; 500;padding-inline: 0.25rem;">sort</span>
                ボタン
              </P>
              <p class="annotation"><code>alt+クリック</code> … 子孫グループ内のパッケージも一緒にソート</p>
            </div>
            <span>グループ解除</span>
            <div>
              <p>
                グループ右上の<span class="icon icon-close"
                  style="--size: 14px;color: darkgoldenrod;display: inline-block;padding: 0 0.5rem;--line-radius: 1.5px;"></span>ボタン
              </p>
              <p class="annotation">※内部のパッケージ/グループはその場に展開されます</p>
            </div>

            <span>グループ開閉</span>
            <div>
              <p>
                グループ左上の<span style="color: darkgoldenrod"> ▼ </span>ボタン
              </p>
              <p class="annotation" style="line-height: 2;">
                <code>alt+クリック</code> ... グループ内の全グループも一緒に開閉<br>
                <code>shift+クリック</code> ... 同階層の全グループも一緒に開閉
              </p>
            </div>

            <span>表示/非表示の切替</span>
            <div>
              <p style="line-height: 2;">
                パッケージをクリックすると、<br>
                AviUtl2のポップアップメニューで表示するかを切り替えられます<br>
                <span class="annotation">※フォントメニュー等で左端にある☑のON/OFF切替です</span>
              </p>
            </div>
            <span>表示名の変更</span>
            <div>
              <p style="line-height: 2;">
                パッケージをAltキーを押しながらクリックすると、表示名を変更できます。<br>
                グループの表示名を変更したい場合は、グループ名をダブルクリックしてください。<br>
                表示名の変更先は、 [変更前]<span class="display-name-hint"> → [変更後]</span> のように表示されます。
              </p>
            </div>
          </div>
          <h4>設定の削除タブの使い方</h4>
          <div class="setting-div">
            <span>設定の削除</span>
            <span>削除したいパッケージをクリック</span>

            <span>アンインストール済<br>スクリプトの設定を<br>まとめて削除</span>
            <div>
              <p>アプリケーションデータフォルダ<b style="color: var(--light-blue);"> (フォルダごと) </b>を選択してください</p>
              <p>
                アンインストール済みのパッケージについて自動で削除設定をONにし、
                <span style="padding: 0 2px;border-radius: 4px;background-color: lightpink;">赤い色</span>をつけます
              </p>
              <p class="annotation">※対応しているのはスクリプト(Effect, Movement, Params)のみです。<br>色、フォントについては非対応ですので、ご了承ください。</p>
            </div>
          </div>


          <h3>謝辞</h3>
          <p>
            このサイトはseilor様の<a
              href="https://seilor0.github.io/sortoutAviUtl2ini/">sortoutAviUtl2ini</a>をもとに、Garech-mas様の<a
              href="https://github.com/Garech-mas/jp_akey.aul2">日本語(アクセスキー付き).aul2</a>の設定も編集できるようにしたものです。<br>
            この場を借りて、お二方に感謝いたします。また、AviUtl2の開発者であるKENくん様にも感謝いたします。
          </p>
        </div>

        <div v-else-if="setting.process==='labeling'" style="display:flex;gap:4rem;">
          <aside class="sub-sidemenu">
            <label v-for="name in treeDataMap.keys()" class="select-tag">
              <input type="radio" :value="name" v-model="setting.type" />
              {{name}}
            </label>
          </aside>

          <div class="sub-sidemenu">
            <div class="new-mofism">
              <div class="new-folder" draggable="true" id="newFolder" @dragstart="dragStartNewFolder"
                @dragend="clearInsertChoice">
                <span class="material-symbols-outlined hover">drag_indicator</span>
                <span class="material-symbols-outlined">create_new_folder</span>
                New Group
                <span class="material-symbols-outlined" style="font-size: 1.75rem;
                margin-inline: 4px 0;">arrow_right_alt</span>
              </div>
              <div v-for="dic in [
                  {label:'全体の先頭へ', toAll:true, toTop:true},
                  {label:'全体の末尾へ', toAll:true, toTop:false},
                  {label:'グループの先頭へ', toAll:false, toTop:true},
                  {label:'グループの末尾へ', toAll:false, toTop:false},
                ]" class="drop-area" @dragenter="$event.currentTarget.classList.add('target')"
                @dragleave="dragLeaveFromDropArea" @dragover.prevent
                @drop="dropToDropArea($event, dic.toAll, dic.toTop)">
                {{dic.label}}
                <span class="material-symbols-outlined">arrow_left_alt</span>
              </div>
            </div>

            <div class="new-mofism" style="margin-block-start: 0.5rem;">
              <div style="display:flex;gap:0.5rem;">
                <button class="round" @click="toggleAllGroups(true)">全て開く</button>
                <button class="round" @click="toggleAllGroups(false)">全て閉じる</button>
              </div>

              <button id="clearChoice" class="round" @click="insertItems.splice(0)">複数選択をクリア</button>

              <hr color="darkgray" size="1" noshade>

              <p style="display: flex;align-items: center;gap: 2px;">
                <span class="material-symbols-outlined" style="font-size: 1.5em;">sort</span>
                <span style="flex-grow: 1;">ソート設定：</span>
                <toggle-button :top-is-slider="false" :is-checked="setting.labelSort.isAsc"
                  @checked-toggle="val=>setting.labelSort.isAsc=val" text-checked="昇順"
                  text-not-checked="降順"></toggle-button>
              </p>

              <select v-model="setting.labelSort.style">
                <option value="folderIsTop">グループが先頭</option>
                <option value="folderIsBottom">グループが末尾</option>
                <option value="folderIsMix">区別しない</option>
              </select>

              <hr color="darkgray" size="1" noshade>

              <div>
                <toggle-button :top-is-slider="false" style="display: flex;justify-content: space-between;"
                  :is-checked="setting.previewFont.enabled" @checked-toggle="value=>setting.previewFont.enabled=value"
                  text="フォントをプレビュー"></toggle-button>

                <p style="margin-block-start: 0.75rem;" :class="{disabled: !setting.previewFont.enabled}">フォントサイズ：</p>
                <input type="range" min="1" max="3" step="0.1" style="width: stretch;"
                  v-model="setting.previewFont.fontSize" :disabled="!setting.previewFont.enabled" />

                <p style="margin-block-start: 0.25rem;" :class="{disabled: !setting.previewFont.enabled}">デフォルトのフォント：
                </p>
                <select v-model="setting.previewFont.defFontFamily" :disabled="!setting.previewFont.enabled">
                  <option value="" selected>（指定なし）</option>
                  <option v-for="fontFamily in fontFamilySet">{{fontFamily}}</option>
                </select>
              </div>

            </div>
          </div>

          <div class="result" :class="resultDivClass" @dragenter="dragEnterToResultDiv"
            @dragleave="dragLeaveFromResultDiv" @dragover.stop.prevent @drop.self="dropToResultDiv">
            <tree-item v-for="(model,index) in treeDataMap.get(setting.type)" :model="model" :setting="setting"
              :parent-array="treeDataMap.get(setting.type)" :index="index" :file-click-func="toggleHide"
              :insert-target="insertTarget" :insert-items="insertItems" :modifier-key-flag="modifierKeyFlag"
              :access-key-map="accessKeyMap" :set-access-key="setAccessKey" :set-display-name="setDisplayName"
              @switch-tree-data="orderTreeDatas(treeDataMap.get(setting.type))"></tree-item>
          </div>
        </div>

        <div v-else-if="setting.process==='del-dup'" style="display:flex;gap:3rem;">
          <aside class="sub-sidemenu">
            <label v-for="name in treeDataMap.keys()" class="select-tag">
              <input type="radio" :value="name" v-model="setting.type" />
              {{name}}
            </label>

            <div class="new-mofism" style="margin-block-start: 1rem;padding: 1rem;">
              <p>
                アンインストール済スクリプトの<br>
                設定をまとめて削除→
              </p>
              <button class="round blue" style="height: 3.5rem;" @click="clickNextInput">
                アプリケーション<br>
                データフォルダを選択
              </button>
              <input type="file" id="scriptsInput" style="display: none;" @change="readInstalledPackage" multiple
                webkitdirectory />

              <hr style="margin-block: 0.75rem;">

              <div>
                <toggle-button :top-is-slider="false" :is-checked="setting.previewFont.enabled"
                  @checked-toggle="value=>setting.previewFont.enabled=value" text="フォントをプレビュー"></toggle-button>
                <p style="font-size: smaller;margin-block-start: 0.5rem;"
                  :class="{disabled: !setting.previewFont.enabled}">
                  デフォルトのフォント：</p>
                <select v-model="setting.previewFont.defFontFamily" :disabled="!setting.previewFont.enabled">
                  <option value="" selected>（指定なし）</option>
                  <option v-for="fontFamily in fontFamilySet">{{fontFamily}}</option>
                </select>
              </div>
            </div>
          </aside>

          <div class="result">
            <table>
              <thead>
                <tr>
                  <th v-for="dic in delDupSortType">
                    <label>
                      <input type="radio" name="del-dup-sort-style" :value="dic.value"
                        v-model="setting.delDupSort.style"
                        @click="dic.isAsc=!dic.isAsc;setting.delDupSort.isAsc = dic.isAsc;" />
                      {{dic.label}}
                      <span style="font-size: smaller;padding-inline-start: 8px;">{{dic.isAsc ? '▼' : '▲'}}</span>
                    </label>
                  </th>
                  <th>設定</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="dic in delDupData" :class="{uninstalled:dic.uninstalled, 'to-delete':dic.toDelete}"
                  @click="dic.toDelete=!dic.toDelete">
                  <td><input type="checkbox" v-model="dic.toDelete" /></td>
                  <td>{{dic.props.order}}</td>
                  <td class="see-through">({{dic.initOrder}})</td>
                  <td
                    :style="setting.previewFont.enabled && setting.type==='Font' ? [dic.fontStyle, {fontFamily : [dic.fontStyle.fontFamily, setting.previewFont.defFontFamily].filter(Boolean).join(',')}] : null">
                    {{dic.name}}</td>
                  <td class="see-through">{{dic.props}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="module" src="code_vue.js"></script>
</body>

</html>